.Background-text{
  color: #5c5959;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-style: bold;
  letter-spacing: 0;
  justify-content: center;
}
.scroll-text {
  position: absolute;
  text-align: center;
  height: 0;
  width: 0;
  overflow: hidden;
  bottom: -50%;
}
.scroll-text div{
  position: fixed;
  width: 100%;
  height: 30%;
  animation: scroll 8s linear infinite;
}
@media only screen and (max-width: 819px) {
  .Background-text {
   font-size:80px;
  }
} 
@media only screen and (min-width: 820px) {
  .Background-text{
    font-size: 140px;
  }
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -20%;
  }
}
.scroll-text div:nth-child(2) {
  animation-delay: 1s;
}

.scroll-text div:nth-child(3) {
  animation-delay: 2s;
}

.scroll-text div:nth-child(4) {
  animation-delay: 3s;
}

.scroll-text div:nth-child(5) {
  animation-delay: 4s;
}

.scroll-text div:nth-child(6) {
  animation-delay: 5s;
}

.scroll-text div:nth-child(7) {
  animation-delay: 6s;
}

.scroll-text div:nth-child(8) {
  animation-delay: 7s;
}

.mySlides{
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg1{
  background-image: url(./images/1.png);
}
.bg2{
  background-image: url(./images/2.png);
}
.bg3{
  background-image: url(./images/3.png);
}
.bg4{
  background-image: url(./images/4.png);
}
.bg5{
  background-image: url(./images/5.png);
}
.bg6{
  background-image: url(./images/6.png);
}
.bg7{
  background-image: url(./images/7.png);
}
.bg8{
  background-image: url(./images/8.png);
}
.bg9{
  background-image: url(./images/9.png);
}
.bg10{
  background-image: url(./images/10.png);
}
.bg11{
  background-image: url(./images/11.png);
}
.bg12{
  background-image: url(./images/12.png);
}
.bg13{
  background-image: url(./images/13.png);
}
.input{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.icon{
  width: 30px;
}
.icon2{
  width: 18px;
}
#input1{
  height: 60px;
}

.input-group{
  height: 60px;
  border-radius: 0;
}

#button-addon2{
  background-color: white;
  color: black;
  font-weight:500;
  height: 60px;  
  margin-left: 0.5px;
  justify-content: center;
}
#button-addon2:hover{
  background-color:white;
  opacity: 0.8;
}


.mainContainer{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}